// Variables
$primary: #cfd6dc;
$secondary: #dbe0e3;
$tertiary: #52616e;
$primary-border: #ebf5fd;
$secondary-border: #63696e;
$tertiary-border: #63696e;

//buttons
$btn-basic: #cfd6dc;
$btn-basic-hover: #797d81;
$btn-basic-border: #686b6d;
$btn-basic-border-hover: #2e3031;

//text-color
$text-btn-basic: #171718;
$text-btn-basic-hover: #c9d3da;

//icon-color
$icon-home: #171718;
$icon-home-hover: #8a8a8f;

//responsive
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
