// Importer les variables de thème
@import "themes/basicTheme";

// Importer les styles de chaque composant
@import "components/container";

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
