.nav-header-basic {
  position: fixed;
  min-width: 300px;
  -webkit-box-shadow: 0px 9px 18px 0px rgba(0, 0, 0, 0.39);
  box-shadow: 0px 9px 18px 0px rgba(0, 0, 0, 0.39);
  background-color: $secondary;
  top: 0;
  left: 0;
  right: 0;
}

.nav-basic {
  display: flex;
  align-items: center;
  @include mobile {
    justify-content: space-between;
  }
}

.nav-home-link {
  color: $icon-home;
  transition: ease-in-out 0.5s;
  &:hover {
    color: $icon-home-hover;
  }
}

.nav-ul {
  display: flex;
  list-style: none;

  @include mobile {
    display: none;
  }

  & li {
    text-align: center;
    & > .nav-link {
      color: $text-btn-basic;
      background-color: $btn-basic;
      width: 100%;
      border-radius: 0.2em;
      border: 2px solid $btn-basic-border;
      padding: 0.3em 0.5em;
      text-decoration: none;

      &:hover {
        background: $btn-basic-hover;
        color: $text-btn-basic-hover;
        cursor: pointer;
      }

      &:active {
        background-color: $btn-basic-hover;
        color: $text-btn-basic-hover;
        border: 2px solid $btn-basic-border-hover;
      }
    }

    &:hover {
      transition: ease-in-out 0.5s;
      transform: scale(1.1, 1.2);
    }

    & > .nav-link:visited {
      color: inherit;
    }
  }
}

.nav-children {
  display: flex;
  @include mobile {
    display: none;
  }
}

// mobile menu
.nav-basic-mobile {
  display: none;
  @include mobile {
    display: flex;
  }
  & ul {
    list-style: none;
  }
}

.nav-ul-mobile {
  position: absolute;
  right: 1rem;
  background: $primary;
  padding: 1rem 0.8rem;
}

.nav-header-mobile {
  display: flex;
  align-items: center;
}
